/**
* LIGHTBOX
*/
#lb {
	overflow: hidden
}
.lb__img {
	display: block;
	margin: 0 auto;
	max-height: 550px;
	max-width: 100%
}
.lb__info {
	text-align: center
}
#lb__tags {
	text-align: left;
	margin: 0;
}
#lb__link {
	height: 2.25rem;
	margin-bottom: 1em;
	padding: 0;
	width: 100%
}
@media all {
	.featherlight {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2147483647;
		text-align: center;
		white-space: nowrap;
		cursor: pointer;
		background: #333;
		background: rgba(0, 0, 0, 0)
	}
	.featherlight:last-of-type {
		background: rgba(0, 0, 0, .8)
	}
	.featherlight:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -.25em
	}
	.featherlight .featherlight-content {
		position: relative;
		text-align: left;
		vertical-align: middle;
		display: inline-block;
		overflow: auto;
		padding: 25px 25px 0;
		border-bottom: 25px solid transparent;
		margin-left: 5%;
		margin-right: 5%;
		max-height: 95%;
		background: #fff;
		cursor: auto;
		white-space: normal
	}
	.featherlight .featherlight-inner {
		display: block
	}
	.featherlight .featherlight-close-icon {
		position: absolute;
		z-index: 9999;
		top: 0;
		right: 0;
		line-height: 25px;
		width: 25px;
		cursor: pointer;
		text-align: center;
		font-family: Arial, sans-serif;
		background: #fff;
		background: rgba(255, 255, 255, .3);
		color: #000
	}
	.featherlight .featherlight-image {
		width: 100%
	}
	.featherlight-iframe .featherlight-content {
		border-bottom: 0;
		padding: 0
	}
	.featherlight iframe {
		border: 0
	}
}
@media only screen and (max-width:1024px) {
	.featherlight .featherlight-content {
		margin-left: 10px;
		margin-right: 10px;
		max-height: 98%;
		padding: 10px 10px 0;
		border-bottom: 10px solid transparent
	}
}