/**, *:before, *:after {
    box-sizing: inherit;
}*/
/*
html, body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    min-width: 300px;
    padding: 0;
    position: relative;
    font-size: 14px;
    line-height: 1.6;
}*/

html {
    font-size: 14px;
    min-height: 100vh;
}

/**
* COMPONENTS
*/

.tt-menu {
    max-height: 200px;
    overflow-y: auto;
}

.tt-input, .tt-hint {
    width: 100%;
}

.tt-menu {
    background: white;
    width: 100%;
    border-left: 1px solid #efefef;
}

.tt-suggestion {
    padding: 0.5em;
    border-bottom: 1px solid #efefef;
}

.tt-suggestion:hover {
    background: #ccc;
    cursor: pointer;
}

.main {
    padding-top: 70px;
}

/**
* ASSETS
*/
.asset {
    border: 1px transparent;
    cursor: pointer;
    float: left;
    position: relative;
    width: 100%;
}

@media (min-width: 400px) {
    .asset {
        width: 50%;
    }
}

@media (min-width: 700px) {
    .asset {
        width: 33.33333%;
    }
}

@media (min-width: 1000px) {
    .asset {
        width: 25%;
    }
}

@media (min-width: 1200px) {
    .asset {
        width: 16.66667%;
    }
}

.asset:hover > .asset__overlay,
.asset:hover > .asset__info {
    opacity: 1;
}

.asset__preview {
    border: none;
    display: block;
    height: auto;
    width: 100%;
}

.asset__overlay,
.asset__info {
    opacity: 0;
    position: absolute;
    transform: scale(1);
    transition: all 0.5s;
    z-index: 3;
}

.asset__overlay {
    background: rgba(0, 0, 0, 0.75);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.asset__info {
    bottom: 0;
    color: white;
    height: auto;
    left: 0;
    margin: auto;
    max-height: 31px;
    right: 0;
    text-align: center;
    top: 0;
}

.asset__tags {
    padding: 0.5rem;
    overflow: hidden;
}

.tag-lg {
    font-size: 1rem;
}

.tag {
    margin: 0 2px 2px 0;
}

/**
* LOADING OVERLAY
*/
.loading-overlay {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    color: white;
    right: 0;
    top: 0;
    z-index: 5;
}

.loading-overlay:before {
    content: ' ';
    display: inline-block;
    height: 100%;
    margin-left: 50%;
    vertical-align: middle;
}

.loading-img {
    display: inline-block;
    font: 16px/1 Arial sans-serif;
    vertical-align: middle;
}

.edit__img {
    border: 3px solid #222;
}

/**
* MISC
*/
.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.cf:after {
    clear: both;
    content: "";
    display: block;
}

.success {
    color: green;
}

.error {
    color: red;
}

.picture-container {
    max-height: 250px;
    max-width: 250px;
}

.intrinsic {
    display: block;
    position: relative;
    height: 0;
    width: 100%;
    padding-top: 100%;
    background: #f0f0f0;
}

.intrinsic-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}